header {
    height: 115px;
}

.brand-logo{
    margin-left: 20px;
}

nav .brand-logo {
    font-size: 2.5rem;
}

#nav-mobile a {
    font-size: 1.3rem;
}

#nav-mobile a:hover{
    opacity: 50%;
    font-size: 210%;
}