.card {
    border-radius: 10px;
    overflow: hidden;
}

.card .card-image .card-title {
    font-size: 3.2rem;
   color: white;
   background-color: #B47F1D !important;
}

.card a {
    font-size: 1.5rem;
}

.card-action {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

