.card {
    border-radius: 10px;
    overflow: hidden;
}

.card .card-title {
    font-size: 3.2rem;
}

.project-title {
    background:rgb(167, 129, 26);
    border-radius: 4px;
}

.card a {
    font-size: 1.5rem;
}

.card-action {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

